body
{
margin: 0;
}
:root
{
--Value: 0px;
}
a
{
text-decoration: none;
font-size: 115%;
color:#9D99BA;
padding: 5px;
margin: 0 5px;
}
.Menu
{
width: 100%;
height: 42px;
display: flex;
flex-direction: row-reverse;
align-items: center;
background-color: black;
}
.Content
{
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;
}
.Start
{
margin-right: 250px;
font-size: 125%;
}
.Menu a
{
padding: 0 30px;
}
.Img-Wrapper
{
background-color: gba(0,0,0,0.5);
overflow: hidden;
height: 623px;
width: 100%;
}
.Start-Img
{
filter: brightness(60%);
transform: translateY(var(--Value));
width: 100%;
margin-top: -275px;
}
.Img-Text
{
position: absolute;
width: 800px;
font-size: 340%;
top: 200px;
color: white;
font-weight: bold;
text-align: center;
}
.Container
{
margin: 150px 0 0 0;
display: flex;
flex-direction: row;
}
.Circle
{
	height: 100px;
	width: 100px;
	background-color: black;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.Line
{
margin: 50px 0 0 0;
height: 3px;
width: 300px;
display: inline-block;
background-color: black;
}
.Dumbell
{
	border-radius: 35px;
	background-color: white;
	display: inline-block;
}
.D1
{
height: 20px;
width: 7px;
}
.D2
{
height: 35px;
width: 9px;
}
.D3
{
height: 5px;
width: 27px;
border-radius: 0px;
}
.Fork
{
display: inline-block;
}
.OverLine
{
 margin-top: 100px;
 height: 10px;
 width: 220px;
 background-color: black;
 transform: translateX(-400%);
display: none;
}
.DisplayOverLine
{
display: inline-block;
animation: MoveLine 1.5s;
}
@keyframes MoveLine
{
25%{
transform: translateX(100%);
}
50%{
transform: translateX(200%);
}
75%{
transform: translateX(300%);
}
100%{
transform: translateX(400%);
}
}
.Text
{
font-size: 250%;
}
